---
import CardButton from "./CardButton.astro";

interface Props {
  img: string;
  id: number;
  title: string;
  price: number;
  category: string;
}

const { img, id, title, price, category } = Astro.props;
---

<li class="link-card">
  <article
    class="relative isolate overflow-hidden flex flex-col justify-end p-2 rounded-3xl h-[20em]"
  >
    <div class="overflow-hidden mb-2 rounded-2xl">
      <img
        class="w-full h-[15em] object-cover"
        src={img}
        alt={`${title} in the photo.`}
      />
    </div>
    <div class="z-20 bg-gray-200 rounded-2xl p-3 flex flex-col gap-2">
      <p
        class="w-fit px-2 bg-orange-100/50 border border-orange-300 text-sm text-orange-700 rounded-lg"
      >
        {category}
      </p>
      <h2 class="text-gray-600 text-lg font-semibold">{title}</h2>
      <p class="text-orange-600 font-bold">
        ${price}
      </p>
      <CardButton />
    </div>
  </article>
</li>
<style>
  article {
    --_clr-bgk: hsl(0, 0%, 99%);
    --_clr-box-shadow: hsl(0, 0%, 90%);

    background-color: var(--_clr-bgk);
    box-shadow: 0 0.5rem 1rem var(--_clr-box-shadow);
  }
</style>
